<html>
  <head>
    <!-- <script type='text/javascript' src="jquery.js"></script> -->
    <!-- <script type='text/javascript' src="prof.js"></script> -->
    <!-- <link href="/style.css" rel="stylesheet" type="text/css"> -->

  </head>
  <body>
    <center>
      <form id='report'>
        <input name='winner' id='winner' placeholder='Winning User'></input>
        <input name='winScore' id='won' placeholder='Winning Score'></input>
        <input name='lostScore' id='lost' placeholder='Losing Score'></input>
        <button class='input' >Submit Loss</button>
      </form>
    </center>
    <div id='coolStuff'>
      <% console.log('hello world') %>
      <img src='bird-imgs/bird1.jpg' alt="a bird" height='900' width='1097'/>
    </div>
    <div class="birdPic">
      <h2>Here is a bird I <strong>really</strong>like</h2>
      <img src='bird-imgs/bird2.jpg' alt="a bird" height='900' width='1097' />
    </div>
  </body>
</html>
